<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 8</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="{% static '/home/story8.css' %}">
</head>


<body>

    <div id="navigation">
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
            <a id="nav_scroll" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src=" {% static 'img/nav_scroll.png' %}"></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/">HOME</a>
                <a class="dropdown-item" href="/ProfileIsland">PROFILE ISLAND</a>
                <a class="dropdown-item" href="/AcademicIsland">ACADEMIC ISLAND</a>
                <a class="dropdown-item" href="/AchievementIsland">ACHIEVEMENT ISLAND</a>
                <a class="dropdown-item" href="/CVIsland">CV ISLAND</a>
                <a class="dropdown-item" href="/IsolatedIsland">ISOLATED ISLAND</a>
            </div>
            </li>
        </ul>
    </div>
    

    <h2 style="margin-top: 10vh;">Holaa,, It seems you are curious with task 8, aren't you?</h2>
    <p>Well, if it's true..<br>
    Try to search any book that you want to see..</p>
    <div class="container-search-box">
        <input id="SearchBox" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
<!-- 
    <div class="card" style="margin-top: 20px;margin-left: 80px;margin-right: 80px;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="card">
                <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                <div class="card-body"> Some more card content </div>
                <a href="#!" class="card-link">Card link</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="card">
                <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                <div class="card-body"> Some more card content </div>
                <a href="#!" class="card-link">Card link</a>
            </div>
          </li>
          <li class="list-group-item">
            <div class="card">
                <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                <div class="card-body"> Some more card content </div>
                <a href="#!" class="card-link">Card link</a>
            </div>
          </li>
        </ul>
    </div> -->
    <div id="Output" style="margin-top: 20px;margin-left: 40px; margin-right: 80px;">

    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/static/home/styling8.js" type="text/javascript"></script>
</body>



</html>