
body{
    background-color: #54C6FE;
    font-family: 'Caesar Dressing';
    /* @media screen {
        background-color:#ffffff
    } */
}
#welcome{
    background-image: url(/static/img/PrototypeAtas.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 140vh;
    max-width: 100vw;
    justify-content: center;
    /* background-position: center center; */
    margin-top: -80px;
    text-align: center;
}
#welcome_profile{
    margin-top: -180px;
    margin-left: 40px;
}
#isi{
    margin-top: 400px;
}
#isi_profile{
    margin-top:200px;
    margin-bottom: 1000px;
}
#isi_homepage , row {
    text-align: center;
}
#isi_homepage_tulisan{
    margin-top: 75px;
}
#spasi_homepage{
    margin-top: 50px;
}
#back_button{
    margin-right: 10px;
    margin-left: 1270px;
    margin-bottom: 10px;
}
.whitetext{
    color: white;
}
.yellowtext{
    color: #F6DB00;
}
.row{
    margin-right: 0px;
}
#footer{
    background-color: #ffffff;
    font-family: roboto;
    font-size: small;
    margin-right: 0px;
}
#Social_Media{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}
#email_saya{
    text-align: center;
    margin-left: 425px;
    margin-top: 30px;
}
#for_fun{
    margin-left: 450px;
    margin-top: 15px;
}
#table1{
    color: #F6DB00;
}
