<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    <div id="welcome">
        <div class="row" id="welcome_profile">
            <div class="col-xs-4 row-grid" id="isi">
                <h1>IT LOOKS LIKE<br>YOU ARRIVED SAFELY.</h1>
            </div>
        </div>
    </div>

    <section id ="isi_homepage">
        <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6">
                <a href="/">
                    <img src=" {% static 'img/AcademicIsland.png' %}">
                </a>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6" id="isi_homepage_tulisan">
                <h3>ACADEMIC ISLAND</h3>
            </div>
        </div>

        <div id="isi_profile">
            <h3>Welcome in Academic Island!!<br>
                On this island, you will find several works by Skyhaf.<br>
                Not only that, you can edit some of courses.<br>
                feel free if you want to take a look..
            </h3>
            <div id="spasi_homepage"></div>
            <div id="table1">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mata Kuliah</th>
                            <th scope="col">Nama Tugas</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>PPW</td>
                            <td>Story 1</td>
                            <td><a href="story1/" target="_blank">Click Here</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>PPW</td>
                            <td>Story 2</td>
                            <td><a href="https://www.figma.com/file/QTd3DCikKNXPRkk9XF3AzY/Wireframe-%26-Prototype?node-id=0%3A1" target="_blank">
                                Click Here</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>PPW</td>
                            <td>Story 5</td>
                            <td><a href="story5/" target="_blank">Click Here</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>PPW</td>
                            <td>Story 7</td>
                            <td><a href="/story7" target="_blank">Click Here</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>PPW</td>
                            <td>Story 8</td>
                            <td><a href="/story8" target="_blank">Click Here</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>PPW</td>
                            <td>Story 9</td>
                            <td><a href="/story9" target="_blank">Click Here</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div>
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ MataKuliah.as_table }}
                    </table>
                    <button type="submit"> SUBMIT </button>
                </form>
            </div> -->
        </div>
</section>

    <div>
        <div id="back_button">
            <a href="/"><img src=" {% static 'img/back_button.png' %}"></a>
        </div>
        {% include "footer.html" %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>