<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="row" id="footer">
        <div class="col-xs-4 row-grid">
            <div id="Social_Media">
                <a href="https://www.instagram.com/skyhaf/" target="_blank">
                    <img src=" {% static 'img/Instagram.png' %}">
                </a>
                <a href="https://www.linkedin.com/in/hafizbhadrikaalamsyah/" target="_blank">
                    <img src=" {% static 'img/LinkedIN_black.png' %}">
                </a>
                <a href="https://medium.com/@hafiznasution2002" target="_balnk">
                    <img src=" {% static 'img/medium.png' %}">
                </a>
            </div>
        </div>
        <div class="col-xs-4 row-grid" id="email_saya">
            Email : hafiznasution2002@gmail.com
        </div>
        <div class="col-xs-4 row-grid" id="for_fun">
            wanna go extreme?
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>