<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/Perahu.png">
    <title>Hafiz Bhadrika Alamsyah</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    {% include "navbar.html" %}
      
    <section id="welcome" >
        <br><br><br><br>
        <h1 id="alola">ALOLA!</h1>
        <br>    
        <p id="alola_">Hello adventurers, welcome to the world of skyhaf</p>
        <p>To explore, just tap the island.</p>
    </section>
    
    <section id ="isi_homepage">
        <div class="row" id="">
            <div class="col-xs-6 col-md-6 col-sm-6">
                <a href="ProfileIsland/">
                    <img src=" {% static 'img/ProfileIsland.png' %}">
                </a>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6" id="isi_homepage_tulisan">
                <h3>PROFILE ISLAND</h3>
                <p>
                    Apparently, this island provides various information about skyhaf.<br>
                    
                    Let's find out!
                </p>
            </div>
        </div>
        <div id="spasi_homepage"></div>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6" id="isi_homepage_tulisan">
                <h3>ACADEMIC ISLAND</h3>
                <p>
                    Paper? Code? Deadline? What is that?<br>
                    Hmmm judging from the name of the island,<br> 
                    it's not that far off with tasks ... 
                    But, let's explore!
                </p>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6">
                <a href="AcademicIsland">
                    <img src=" {% static 'img/AcademicIsland.png' %}">
                </a>
            </div>
        </div>
        <div id="spasi_homepage">
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6">
                <a href="AchievementIsland">
                    <img src=" {% static 'img/AchievementIsland.png' %}">
                </a>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6" id="isi_homepage_tulisan">
                <h3>ACHIEVEMENT ISLAND</h3>
                <p>
                    Wowww, take a look at this island.<br>
                    There are tons of chests to see.<br>
                    What do you think about the contents of the chest? <br>
                    Shall we go in and find out?
                </p>
            </div>
        </div>
        <div id="spasi_homepage">
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6" id="isi_homepage_tulisan">
                <h3>CV ISLAND</h3>
                <p>
                    Looks like this island contains pretty serious stuff ... <br>
                    Let's take a look!
                </p>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6">
                <a href="CVIsland">
                    <img src=" {% static 'img/CVIsland.png' %}">
                </a>
            </div>
        </div>
        <div id="spasi_homepage">
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6">
                <a href="IsolatedIsland">
                    <img src=" {% static 'img/IsolatedIsland.png' %}">
                </a>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6" id="isi_homepage_tulisan">
                <h3>ISOLATED ISLAND</h3>
                <p>
                    Why is this island isolated? are there pirates?<br>
                    monster? or other mysterious things?<br>
                    Do you want to explore this island?
                </p>
            </div>
        </div>

    </section>

    {% include "footer.html" %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>