<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    <div id="welcome">
        <div class="row" id="welcome_profile">
            <div class="col-xs-4 row-grid" id="isi">
                <h1>IT LOOKS LIKE<br>YOU ARRIVED SAFELY.</h1>
            </div>
        </div>
    </div>

    <section id ="isi_homepage">
        <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6">
                <a href="/">
                    <img src=" {% static 'img/AcademicIsland.png' %}">
                </a>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6" id="isi_homepage_tulisan">
                <h3>ACADEMIC ISLAND</h3>
            </div>
        </div>

        <div id="isi_profile">
            <h3>Here are the list of courses.<br>

            </h3>
            <div id="spasi_homepage"></div>
            <div>
                

                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Nomor</th>
                        <th scope="col">Nama matkul jing</th>
                        <th scope="col">Dosennya tot</th>
                        <th scope="col">Jumlah Sksnya mek</th>
                        <th scope="col">semesternya COKK</th>
                        <th scope="col">Ruang KELASNYA MEK</th>
                        <th scope="col">Detailsnya bgst</th>
                        <th scope="col">udah hapus aje matkulnya tot</th>
                      </tr>
                    </thead>
                    {% for i in Matkul %}
                    <tbody>
                      <tr>
                        <th scope="row"> {{ forloop.counter }} </th>
                        <td>{{i.Nama_Mata_Kuliah}}</td>
                        <td>{{i.Dosen_Pengajar}}</td>
                        <td>{{i.Jumlah_SKS}}</td>
                        <td>{{i.Semester_Tahun}}</td>
                        <td>{{i.Ruang_Kelas}}</td>
                        <td><button><a href="{% url 'story1:matakuliahDetails' pk=i.pk %}"> Details </a></button></td>
                        <td><button><a href="{% url 'story1:matakuliahDelete' pk=i.pk %}" > Delete </a></button></td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                
                <!-- <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ MataKuliah.as_table }}
                    </table>
                </form> -->
            </div>
        </div>
</section>

    <div>
        <div id="back_button">
            <a href="/"><img src=" {% static 'img/back_button.png' %}"></a>
        </div>
        {% include "footer.html" %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>