<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    <div id="navigation">
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
            <a id="nav_scroll" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src=" {% static 'img/nav_scroll.png' %}"></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/">HOME</a>
                <a class="dropdown-item" href="/ProfileIsland">PROFILE ISLAND</a>
                <a class="dropdown-item" href="/AcademicIsland">ACADEMIC ISLAND</a>
                <a class="dropdown-item" href="/AchievementIsland">ACHIEVEMENT ISLAND</a>
                <a class="dropdown-item" href="/CVIsland">CV ISLAND</a>
                <a class="dropdown-item" href="/IsolatedIsland">ISOLATED ISLAND</a>
            </div>
            </li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>