<html>

{% load static %}
<head>
  <title>Pearl Necklace</title>
  <link href="{% static 'home/product.css' %}" rel="stylesheet" />

  <style>
      .par{
          color: red;
          background: yellow;
      }
      #par1{
          color:navy;
          background: aqua;
      }

  </style>
    <!-- <link href="{% static 'home/product.css' %}" rel="stylesheet" /> -->

</head>
<body>
<div id = "par1" style="color:blue">
Daftar Matklt:

</div>
<ul>
    <li>asd</li>
    <li>asasd</li>
    <li>fdfno</li>
    <li>egfhg</li>

</ul>


</body>
</html>