<!DOCTYPE html>
<html lang="en">

   {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hafiz Bhadrika Alamsyah</title>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="{% static 'home/stylestory1.css' %}">
</head>
<body>
   {% include "navbar.html" %}
    <h1>ALOLA!</h1>
    <img src=" {% static 'img/profil.jpg' %}" alt="Hafiz Bhadrika Alamsyaha" width="300" height="300">

    <h2><b>Nama saya Hafiz Bhadrika Alamsyah. Saya biasa dipanggil hb(habe). Bahkan beberapa teman saya
         memanggil dengan nama Hafiz. Saat ini, saya sedang mengenyam pendidikan di salah satu Universitas 
         di Indonesia, yaitu Universitas Indonesia(UI). Setelah 2 semester di UI, saya belajar banyak hal baik
          dari segi akademis maupun non-akademis. Selain itu, Adanya perbedaan budaya, sudut pandang, dan pendapat
          dari mahasiswa-mahasiwa lainnya, menjadikan sebuah kesempatan bagi saya untuk saling berdialektika, 
          berdiskusi dan berbincang santai. 
    </b></h2>

    <p><b>Berikut Informasi penting tentang saya :</b></p>
    <h3><b>Nama  : Hafiz Bhadrika Alamsyah</b>
        <br><b>NPM  :1906399650</b>
        <br><b>Prodi    :Sistem Informasi 2019</b>
        <br><b>Univeristas  :Universitas Indonesia</b>
        <br><b>Hobi : Bulutangkis</b>
    </h3>

    <table border="1">
        <tbody><tr align="center">
           <th> <b> Tahun </b> </th>
           <th> <b> Nama Sekolah </b> </th>
        
        </tr><tr>
           <td align="center"> 2019 - Sekarang </td>
           <td> Universitas Indonesia </td> 
        </tr>
        
        <tr>
           <td align="center"> 2016 - 2019 </td>
           <td> SMA Negeri 4 Depok </td>
        </tr>
        
        
        <tr>
           <td align="center"> 2014 - 2016 </td>
           <td> SMP Negeri 233 Jakarta </td>
        </tr>
        
        <tr>
            <td align="center"> 2013 - 2014 </td>
            <td> SMP Negeri 160 Jakarta </td>
         </tr>

        <tr>
           <td align="center"> 2007 - 2013 </td>
           <td> SD Islam Sabilina Bekasi </td>
        </tr>
        
     </tbody></table>

     <a href="https://www.instagram.com/skyhaf/">
      <img src = "https://en.instagram-brand.com/wp-content/themes/ig-branding/prj-ig-branding/assets/images/ig-logo-black.svg" 
      alt = "instagram" width="50px" height="50px">
   </a>
   <a href="https://www.linkedin.com/in/hafizbhadrikaalamsyah/">
      <img src="https://www.flaticon.com/svg/static/icons/svg/61/61109.svg"
      alt="linkedin" width="50px" height="50px">
   </a>
   <div>{% include "footer.html" %}</div>
   <a id="back_button" href="/"><img src=" {% static 'img/back_button.png' %}"></a>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>