body{
    background-color: grey;
    text-align: center;
}
.ptitle{
    color: white;
}
.pprice{
    color:white;
    padding-right: 295px;
}

.par{
    color: red;
    background: purple;
}
#par1{
    color:navy;
    background:black;
}