
body{
    background-color: #54C6FE;
    font-family: 'Caesar Dressing';
    /* @media screen {
        background-color:#ffffff
    } */
    text-align: center;
}
p{
    color: #F6DB00;
}
h3{
    color: gray;
}

* {
    box-sizing: border-box;
}

.accordian {
    max-width: 600px;
    display: block;
    margin: 100px auto;
}


.accordian .card {
    box-shadow: 0px 0px 20px #d4d4d4;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.accordian .card .card-header  {
    cursor: pointer;
    color: #444444;
    position: relative;
    margin: 0;
    padding: 20px;
}

.nezuko {
    position: relative;
    background-color: pink;
}

.miku {
    position: relative;
    background-color: #0EEADF;
} 

.logox {
    cursor: crosshair;
    position: absolute;
    right: 20px;
    top: 16px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}

.accordian .card .card-body {
    padding: 20px;
    background-color: navy;
}


.accordian .card .card-body {
    display: none;
}

.accordian .card .card-body p {
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    margin: 0px; 
}

/* a.btn reorder-up, a.btn reorder-down{
    background-color: #F6DB00;
} */


/* ------------------------------------------------------------- */

/* * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
} */

/* .jumbotron-fluid {
    background-color: navy;
}

.display-3 {
    color: white;
    font-weight: bold;
}

.lead {
    color: white;
}

.card {
    border-radius: 15px;
    margin: 2%;
    text-align: center;
}

.accordion .card .card-header {
    background: white;
    border-radius: 15px;
    
    outline: none;
}

.accordion>.card:not(:first-of-type) {
    border-radius: 15px;
}

div#headingOne,
div#headingTwo,
div#headingThree,
div#headingFour {
    border-radius: 15px;
}

.card-body {
    border-radius: 15px;
    border-style: none;
}

h1 {
    font-size: 24px;
    color: navy;
}


a.btn.reorder-up,
a.btn.reorder-down {
    float: right;
    margin: 2px;
    background-color: rgb(21, 21, 116);
    color: white;
}

#navigation{
    font-family: 'Caesar Dressing';
} */

a.btn.reorder-up{
    float: left;
    margin: 2px;
    background-color: rgb(21, 21, 116);
    color: white;
}
a.btn.reorder-down {
    float: right;
    margin: 2px;
    background-color: rgb(21, 21, 116);
    color: white;
}