
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 7</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Jquery-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        charset="utf-8"></script>
    <!--End Jquery-->
    <!--JS Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <!--End of JS Bootstrap-->
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="{% static '/home/story7.css' %}">

    <style>
        

        
    </style>

</head>

<body>
    <!-- <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">More about me?</h1>
            <p class="lead">See more about my activity, organizations, experiences, and interests</p>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">More</li>
                </ol>
            </nav>
        </div>
    </div> -->
    <!-- {% include "navbar.html" %} -->
    <div id="navigation">
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
            <a id="nav_scroll" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src=" {% static 'img/nav_scroll.png' %}"></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/">HOME</a>
                <a class="dropdown-item" href="/ProfileIsland">PROFILE ISLAND</a>
                <a class="dropdown-item" href="/AcademicIsland">ACADEMIC ISLAND</a>
                <a class="dropdown-item" href="/AchievementIsland">ACHIEVEMENT ISLAND</a>
                <a class="dropdown-item" href="/CVIsland">CV ISLAND</a>
                <a class="dropdown-item" href="/IsolatedIsland">ISOLATED ISLAND</a>
            </div>
            </li>
        </ul>
    </div>
    

    <h1 style="color: rgb(53, 71, 112); cursor: pointer; text-align: center; margin-top: 20px;" class="changetext">For fun, try to tap this..</h1>
    <div class="container">
        <div class="accordion" id="accordionExample">
            <!--Start-->
            <div class="card" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne" style="cursor: pointer;">
                <div class="card-header">
                    <h3>
                        <a href="" class="btn reorder-up"><i class= aria-hidden="true">UP</i></a>
                        Who Am I?
                        <a href="" class="btn reorder-down"><i class= aria-hidden="true">DOWN</i>
                        </a>
                    </h3>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body" style=" background-color: navy; background-blend-mode: darken; color:white;">
                        Hello,
                        My name is <span class="whitetext">Hafiz Bhadrika Alamsyah</span> 
                        who is familiarly called <span class="whitetext">HB</span> / <span class="whitetext">Bhadrika.</span>  
                        Apparently, i am an <span class="whitetext">Information System student</span> at the 
                        <a href="https://www.ui.ac.id/" target="_blank"><span class="yellowtext">University of Indonesia</span></a>
                        class of 2019
                    </h3>
                    </div>
                </div>
            </div>
            <!--End-->

            <div class="card" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                aria-controls="collapseTwo" style="cursor: pointer;">
                <div class="card-header" id="headingTwo">
                    <h3>
                        <a href="" class="btn reorder-up"><i class= aria-hidden="true">UP</i></a>
                        Organizations and Experiences
                        <a href="" class="btn reorder-down"><i class= aria-hidden="true">DOWN</i>
                        </a>
                    </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body" ; style=" background-color: navy; background-blend-mode: darken; color:white;">
                        Perhaps, i'll tell you some of my experiences on organizations in University Of Indonesia.<br>
                        Well, the only Organizations that i joined was only BEM Fasilkom UI 2020.<br>
                    </div>
                </div>
            </div>

            <div class="card" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                aria-controls="collapseThree" style="cursor: pointer;">
                <div class="card-header" id="headingThree">
                    <h3>
                        <a href="" class="btn reorder-up"><i class= aria-hidden="true">UP</i></a>
                        Volunteering
                        <a href="" class="btn reorder-down"><i class= aria-hidden="true">DOWN</i>
                        </a>
                    </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body" style=" background-color: navy; background-blend-mode: darken; color:white;">
                        Well, not quite a lot just three, which is Pesta Rakyat Kompuer(PERAK), Orientasi Kehidupan Kampus Universitas Indonesia 2020 (OKK UI 2020),
                        and Pemilihan Raya Ikatan Keluarga Mahasiswa Universitas Indonesia 2020 (PEMIRA IKM UI 2020).
                    </div>
                </div>
            </div>

            <div class="card" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                aria-controls="collapseFour" style="cursor: pointer;">
                <div class="card-header" id="headingFour">
                    <h3>
                        <a href="" class="btn reorder-up"><i class= aria-hidden="true">UP</i></a>
                        Interests
                        <a href="" class="btn reorder-down"><i class= aria-hidden="true">DOWN</i>
                        </a>
                    </h3>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample"
                    style="padding: 3%; background-color: navy; ">
                    <div class="card-body" style="color: white;">
                        Honestly, i don't really know what my insterests on technology. But, other than that, i love playing badminton, chess, and do managerial things.
                    </div>
                    <!-- <div class="card-deck d-flex justify-content-center">
                        <div class="card d-flex justify-content-center"
                            style="border: none; align-items:center; text-align:center; justify-content:center;">
                            <img src="{% static '../static/assets-story-7/ui.png' %}" class="card-img-top" alt=""
                                style="width: 70%; align-items:center; text-align:center; justify-content:center;">
                        </div>
                        <div class="card"
                            style="border: none; align-items:center; text-align:center; justify-content:center;">
                            <img src="{% static '../static/assets-story-7/cisco.png' %}" class="card-img-top" alt="..."
                                style="width: 70%; align-items:center; text-align:center; justify-content:center; ">
                        </div>
                        <div class="card"
                            style="border: none; align-items:center; text-align:center; justify-content:center;">
                            <img src="{% static '../static/assets-story-7/gojek.png' %}" class="card-img-top" alt="..."
                                style="width: 70%; align-items:center; text-align:center; justify-content:center;">
                        </div>
                        <div class="card"
                            style="border: none; align-items:center; text-align:center; justify-content:center;">
                            <img src="{% static '../static/assets-story-7/traveloka.png' %}" class="card-img-top" alt="..."
                                style="width: 70%;">
                        </div>
                        <div class="card"
                            style="border: none; align-items:center; text-align:center; justify-content:center;">
                            <img src="{% static '../static/assets-story-7/mcd.png' %}" class="card-img-top" alt="..."
                                style="width: 70%; align-items:center; text-align:center; justify-content:center;">
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
    </div>


</body>
<script>
        $(".changetext").click(function () {
            if ($(this).hasClass("gayed")) {
                $(this).removeClass("gayed").text("For fun, try to tap this..");
            } else {
                $(this).addClass("gayed").text("CORRECT! , This is a task from PPW Course which is called STORY 7");
            }
        })

    $(".reorder-up").click(function () {
        var $current = $(this).closest('.card')
        var $previous = $current.prev('.card');
        if ($previous.length !== 0) {
            $current.delay(100000).insertBefore($previous);
        }
        return false;
    });

    $(".reorder-down").click(function () {
        var $current = $(this).closest('.card')
        var $next = $current.next('.card');
        if ($next.length !== 0) {
            $current.insertAfter($next);
        }
        return false;
    });
</script>

</html>