<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inforona</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'home/style2.css' %}">
</head>
<body>
    GOBLOG anjing adaaadfsdgawserhwerhaers
    <h1 style="margin-top: 30px; font-weight: bold;"> KEBIJAKAN PEMERINTAH </h1>

    <!-- <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div> -->
    <div class="card" style="padding: 15px;">
        <!-- <h2>Upload</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="document">
          <button type="submit">Upload file</button>
        </form>
        {% if url %}
          <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
        {% endif %} -->
        
        <h2>Upload book</h2>
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data" style="text-align: left; ">
            {% csrf_token %}
            {{ form|crispy }}
            <div id=form_surat>
                <button type="submit" class="btn btn-primary" >Upload File</button>
            </div>
            
        </form>
    </div>


    <div class="card">
        <h4 style="margin-top: 20px;">Peraturan Pemerintah Pengganti Undang-Undang (PERPU)</h4>
        <ul class="list-group" >
            <li class="list-group-item">
                <a href="perpu/"> <i class="icon icon-doc"></i>   Peraturan Pemerintah Pengganti Undang-Undang (Perpu) Pemerintah Pusat No. 1 Tahun 2020 </a>
                <br>
                <i class="font-red-soft font-sm">Tentang<br>Kebijakan Keuangan Negara dan Stabilitas Sistem Keuangan untuk Penanganan Pandemi Corona Virus Disease 2019 (COVID-19) dan/atau dalam Rangka Menghadapi Ancaman yang Membahayakan Perekonomian Nasional dan/atau Stabilitas Sistem Keuangan</i>
            </li>
        </ul>
        
        <h4>Undang-Undang (UU)</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="uu/"> <i class="icon icon-doc"></i>  Undang-undang (UU) Pemerintah Pusat No. 2 Tahun 2020 </a>
                <br>
                <i class="font-red-soft font-sm">Tentang<br> Penetapan Peraturan Pemerintah Pengganti Undang-Undang Nomor 1 Tahun 2020 tentang Kebijakan Keuangan Negara dan Stabilitas Sistem Keuangan untuk Penanganan Pandemi Corona Virus Disease 2019 (Covid-19) dan/atau Dalam Rangka Menghadapi Ancaman yang Membahayakan Perekonomian Nasional dan/atau Stabilitas Sistem Keuangan Menjadi Undang-Undang</i>
            </li>
        </ul>

        <h4>Peraturan Pemerintah (pp)</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="pp/"> <i class="icon icon-doc"></i>  Peraturan Pemerintah (PP) Pemerintah Pusat No. 21 Tahun 2020 </a>
                <br>
                <i class="font-red-soft font-sm">Tentang<br> Pembatasan Sosial Berskala Besar dalam Rangka Percepatan Penanganan Corona Virus Disease 2019 (COVID-19)</i>
            </li>
        </ul>

        <h4>Peraturan Presiden (PERPRES)</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="perpres/"> <i class="icon icon-doc"></i>   Peraturan Presiden (PERPRES) Pemerintah Pusat No. 52 Tahun 2020 </a>
                <br>
                <i class="font-red-soft font-sm">Tentang<br> Pembangunan Fasilitas Observasi dan Penampungan dalam Penanggulangan Corona Virus Disease 2019 (Covid-19) atau Penyakit Infeksi Emerging di Pulau Galang, Kota Batam, Provinsi Kepulauan Riau</i>
            </li>
        </ul>

        <h4>Peraturan Daerah (PERDA)</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="perda/"> <i class="icon icon-doc"></i>  Peraturan Daerah (PERDA) Kabupaten Bengkulu Utara No. 30 Tahun 2020 </a>
                <br>
                <i class="font-red-soft font-sm">Tentang<br> Perubahan atas Peraturan Bupati Bengkulu Utara Nomor 27 Tahun 2020 tentang Penggunaan Belanja Tidak Terduga Dalam Rangka Antisipasi, Penanganan dan Dampak Penularan Pandemi Corona Virus Disease 2019 Kabupaten Bengkulu Utara</i>
            </li>
        </ul>

        <h4>Peraturan Gubernur (PERGUB)</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="pergub/"> <i class="icon icon-doc"></i>  Peraturan Gubernur (PERGUB) Provinsi Jawa Barat No. 17 Tahun 2020 </a>
                <br>
                <i class="font-red-soft font-sm">Tentang<br> Pedoman Teknis Pembayaran Peralatan Dan Bahan Kesehatan Untuk Penanganan Corona Virus Disease-19 (Covid-19) Di Jawa Barat</i>
            </li>
        </ul>
    </div>

    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>