body{
    background-color: #54C6FE;
    font-family: 'Caesar Dressing';
    /* @media screen {
        background-color:#ffffff
    } */
    text-align: center;
}
.container-search-box{
    margin-left: 80px;
    margin-right: 80px;
}