body{
    background-color: #54C6FE;
    font-family: 'Amatic SC'
}
h1{
    font-size: 250%;
    text-align: center;
    background-color: aliceblue ;
}   
p{
    font-size: 150%;
}
table{
    font-size: 125%;
    border-color:#0B4FF5;
    border-collapse: collapse;
    width: 40%;
    background-color: #C8EFF3;
}
th{
    padding: 5px;
    background-color: #A6DBE0;
}
td{
    padding: 5px;
}
